.red {
	color: #E35050;
}
.dark-red { 
	color: #820707;
}
.green { 
	color: #50E38F;
}
.dark-grey { 
	color: #2c2c2c;
}
.grey{ 
	color: #9A9A9A;
}
.white {
	color: white;
}

.icon.go { background: url(../img/go.png) no-repeat center bottom; }
.icon.done { background: url(../img/done.png) no-repeat center bottom; }

.greenBg {
	background-color: #50E38F;
}

.redBg {
	background-color: #E35050;
}

	.greenBg ul li {
		background-color: white;
		color: #9A9A9A;
	}