input[type=text], input[type=password], input[type=email], textarea {
  font-size: 20px;
  font-weight: 100;
  color: #9A9A9A;
  padding: 15px 10px;
  border: none;
  text-align: center;
  font-family: "effra", Arial, Helvetica, sans-serif !important;
}

input[type=text], input[type=email], textarea {
  border-bottom: 1px solid rgba(101, 101, 101, 0.3);
}

input[type=submit],
button {
  padding: 7px 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  letter-spacing: 0.1em;
}

  input[type=submit].green,
  button.green {
    border: 4px solid #50E38F;
  }
  
  input[type=submit]:hover.green,
  button:hover.green  {
    background-color: #50E38F;
    color: white;
  }
  
  input[type=submit].red,
  button.red {
    border: 4px solid #E35050;
  }
 
  input[type=submit]:hover.red,
  button:hover.red{
      background-color: #E35050;
      color: white;
  }

  button:focus,
  input:focus,
  textarea:focus {
    outline: none;
    outline: 0; 
    background-color: #fafafa;
    border: 0 none;
  }

  #newDecision {
    text-align: center;

  }

  #newDecision input,
  #newDecision textarea {
    width: 360px;
  }

  #newDecision textarea {
    height: 120px;
  }

  #newDecision button[type=submit].green {
    margin-top: 65px;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 0.05em;
  }
  
  input[type=submit].white,
  button.white {
    border: 4px solid white;
    color: white;
    background-color: transparent; 
  }
  input[type=submit]:hover.white,
  button:hover.white{
      background-color: white;
      color: #50E38F;
    
  }

  .bd {
    margin-top: 20px;
  }
input[type=radio] {
  display: none;  
}