/* ==========================================================================
   basic layout
   ========================================================================== */


.container {
	margin-top: 2.5rem;
	text-align: center;
	max-width: 720px;
	width: 100%;
}

.hoodie-accountbar {
	float: right;
	margin-top: .9375rem;
}

.content {
	padding-bottom: 1.5625rem;
}

.copy {
	background-color:  #f1f1f1;
}

.copy p {
	padding: .625rem 0;
	text-align: center;
}

.clear {
	clear: both;
}

#newDecision h2 {
	margin-top: 3.75rem;
}

.whiteBg .grey {
	margin-top: 1.875rem;
}

.whiteBg .container h2.dark-grey,
.whiteBg .container p {
	width: 470px;
	margin: 0 auto 1.875rem;
}
