/* ==========================================================================
   structure for oo-css
   ========================================================================== */

/* @import "reset.css"; // with bootstrap included */

@import "layout.css";	/* define your layout */
@import "modules.css";	/* specs for your modules */
@import "color.css";	/* specs for your modules */
@import "typo.css";	/* specs for your modules */
@import "form.css";	/* specs for your modules */


/*
@import "grid.css"; 	// put your grid in here like .1of3
@import "colour.css"; 	// all the colours like .blue
@import "typo.css"; 	// all definitions for typo, font-sizes etc.
@import "icon.css"; 	// all the icons you use
*/

* {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

#wrapper {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}
