/* ==========================================================================
   specify all the modules 
   ========================================================================== */

/* --- Hoodie Sign In / Sign Up / Sign out stylings --- */
/* hide contents until we know if user is signed in or not */
body.signedout .sIn,
body.signedin .sOut{
	display: none;
}

/* dashboard: ongoing list-style */
.decision-list {
	margin-top: 5.3125rem;
}

.decision-list .green {
	position: relative;
	float: right;
	width: 100%;
}

@media (min-width: 25.0625em) {
	.decision-list .green {
		width: auto;
	}
}

.decision-list .create-button-link {
	margin-top: .9375rem;
}

.ongoing,
.past-decision {
	margin: 1.25rem auto;
}

.ongoing .title a {
	color:#2c2c2c;
	text-decoration: none;
}

.ongoing li,
.past-decision li {
	display: -webkit-flex;
	display: flex;
	padding: 2.1875rem 0;
	border-bottom: 1px solid rgba(101, 101, 101, 0.3);
	color: #2c2c2c;
	text-align: left;
	font-weight: bold;
	font-size: 1.375em;
	-webkit-flex-flow: row;
	flex-flow: row;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.ongoing span, .past-decision span { display: inline-block; }

.ongoing span.time-left,
.past-decision .time-left {
	font-weight: normal;
	font-size: .818181818em;
}

.ongoing span.time-left {
	margin-left: .9375rem;
	color: #9A9A9A;
}

.ongoing span.title {
	margin-right: auto;
}

.ongoing .span.title a {
	color: #2c2c2c;
	text-decoration: none;
}

.past-decision span.title {
	padding: 0 35px;
	width: 470px;/* has to be changed*/
}

.ongoing span.icon {
	margin-right: .9375rem;
	width: 40px;/* has to be chaned*/
	height: 20px;
	text-align: center;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}

/* dashboard: past list-style */
.past-decision li {
	color: white;
}

li.nay {
	background-color: #E35050;
}

li.yay {
	background-color: #50E38F;
}

.containerBg {
	padding: .625rem;
}

.containerBg h2.slogan {
	position: relative;
	float: left;
	font-weight: bold;
}

.containerBg h2.small {
	margin-top: 5.9375rem;
	font-weight: 500;
}

.containerBg ul li .title {
	width: 433px;/*has to be fixed*/
}

.containerBg ul li:first-child {
	margin-top: 3.75rem;
}

.containerBg ul li:last-child {
	margin-top: .625rem;
	margin-bottom: 6.5625rem;
}

.containerBg ul li button {
	min-width: 4.375rem;
	position: absolute;
	margin-top: 1.9375rem;
	margin-left: -1.0625rem;
}

li.criteria {
	color: #2c2c2c;
	font-weight: bold;
}

li.criteria span {
	color: red;
	font-weight: 100;
	font-size: .954545455em;
}

li.criteria.active {
	margin-top: 0 !important;
	background: #E35050;
	color: white;
}

li.criteria.active span {
	color: #820707;
}

li.criteria.active h4 {
	color: white;
}

li.criteria.active span {
color: #820707;
}

.decision-past {
	margin-bottom: 5rem;
	color: white;
}

.decision-past span {
	font-weight: 500 !important;
	font-size: 40px;
	line-height: 1.2em;
}

.decision-past p {
	font-weight: bold;
	font-size: 100px;
}
