body {
  font-family: "effra", Arial, Helvetica, sans-serif !important;
}

h1, h2, h3 {
  font-weight: bold;
  font-family: "effra", Arial, Helvetica, sans-serif;
}

/* shalli logo on homepage */
h1 {
  font-size: 100px;
  margin-top: 115px;
}

/* eg: Signing up just takes a second */
h2 {
  font-size: 28px;
  font-weight: 900;
}

/* shalli logo anywhere else */
h2.small {
	font-size: 36px;
	font-weight: 300;
}

.decision-list h2 {
	margin-top: 85px;
}

.slogan {
  	font-size: 32px;
  	font-weight: 100;
  	margin-top: 25px;
	margin-bottom: 50px;
}

h4 {
	font-weight: 600;
}

/* random text */
p {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 40px;
  width: 720px;
}

nav {
  font-weight: bold;
  text-transform: uppercase;
/*  color: $grey; */
  font-size: 22px;
}

	.greenBg ul li {
		font-weight: 300;
	}